<!DOCTYPE html>
<html lang="en" class="profile">
    <%- include("partials/head") %>

    <body>
        <!-- Header -->
        <%- include("partials/header") %>

        <!-- Teacher Avatar -->
        <% let avatar = locals.gender == "male" ? "yousif" : "mariam"; %>

        <!-- Main Page Content -->
        <main>
            <div class="account-info">
                <!-- Original Image Source: ./images/characters/{avatar}.png -->
                <!-- Original Style: transform: scaleX(-1) -->
                <img
                    src="./images/awps-logo.png"
                    alt="Teacher Avatar"
                    class="account-info-avatar"
                    style="transform: none"
                />

                <div class="account-info-content">
                    <h1><%= locals.username %></h1>

                    <div class="account-info-content-bottom">
                        <div class="info">
                            <!-- <p>Male teacher</p> -->

                            <p>
                                Joined HeroApp at
                                <span
                                    class="format-date"
                                    data-format-date="<%= locals.createdAt %>"
                                ></span>
                            </p>
                        </div>

                        <a href="/profile/edit"
                            >Edit Account <i class="fa-solid fa-pen"></i
                        ></a>
                    </div>
                </div>
            </div>

            <div class="account-stats">
                <h2>
                    <%= classesNumber %> classes
                    <i class="fa-solid fa-school"></i>
                </h2>

                <h2>
                    <%= studentsNumber %> students
                    <i class="fa-solid fa-graduation-cap"></i>
                </h2>
            </div>
        </main>
    </body>
</html>
